<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted" style="line-height: 1.5;">We're a software development team based in Clearwater, Florida.<br />We're a part of the largest travel conglomerate in the world, and work with a diverse<br />assortment of travel brands across North America and abroad to serve their marketing and e-commerce needs.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2011</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The team started out in a <em>very nice</em> closet in the TUI Marine office. In our time working with Marine we devloped and launched several hugely successful web properties, and helped modernize overall development practices.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">North America</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Starting in 2012 our team grew as we onboarded many of TUI's Specialist brands in North America. Again, we modernized what was already built, and developed several brand new Drupal sites across this division.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Over the course of 2013 we did the same with TUI's North American Education brands, as well as building several new properties across Specialist.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 and beyond</h4>
                                    <h4 class="subheading">Onward, Upward!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We now maintain numerous web properties for TUI, everything from marketing microsites, to highly complex sites with live booking. We're also expanding again, and are building an all-new Drupal-based platform for Travel-oriented Web-Based Marketing and Sales.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#contact" class="page-scroll timeline-image">
                                <h4>Be Part<br />Of Our<br />Story!</h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>