<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">We are an in-house software development team for TUI Group.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2011</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The team started out in a closet in the TUI Marine office. We were set to work on several challenging projects there.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>?? ????</h4>
                                    <h4 class="subheading">North America</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We began working for the North American Specialist division, a whole host of new clients for us.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>?? ?????</h4>
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We began managing educational travel brands of North America.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>?? ????</h4>
                                    <h4 class="subheading">Onward, Upward!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are now developing the next platform of service and software for all the brands we can!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#contact" class="page-scroll timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>