    <div id="video-container">
        <video id="bg-video" preload="true" autoplay loop muted>
            <source src="/video/clwdevbg1.webm" type="video/webm" >
            <source src="/video/clwdevbg1.mp4" type="video/mp4" >
            <source src="/video/clwdevbg1.ogv" type="video/ogv" >
        </video>
    </div>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">We write</div>
                <div class="intro-heading">code that moves</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>